.pagination{
  display: flex;
}

.pagination li{
  float: left;
  list-style: none;
  cursor: pointer;
  border: 1px solid #00d0dc;
  display: flex;
}

.pagination li a {
  padding: 5px;
}

.pagination li.active{
  background: #00d0dc;
}